{# templates/Inside/User/form.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Edit profile'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}





    <div class="formInside">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form(form) }}
        <p class="mandatory">* {{ 'Mandatory field'|trans }}</p>
    </div>


{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}