{# templates/Inside/User/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Profile'|trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/user.css') }}" rel="stylesheet"/>
{% endblock %}


{% block quote_body %}


    <div class="card-deck user">


        <div class="card text-white bg-info mb-3" style="max-width: 30rem;">
            <div class="card-header">{{ 'My Profile'|trans }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ app.user.email }}</h5>
                <p class="card-text">
                <p>{{ 'First name'|trans }} : <span>{{ app.user.firstname }}</span></p>
                <p>{{ 'Last name'|trans }} : <span>{{ app.user.lastname }}</span></p>
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="{{ path('qtf_user_edit', {'id': app.user.id}) }}" class="btn btn-light">{{ 'Edit'|trans }}</a><br />
                <a href="{{ path('qtf_password_edit', {'id': app.user.id}) }}" class="btn btn-secondary">{{ 'Change password'|trans }}</a><br />
                <a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">{{ 'Delete my account'|trans }}</a>
            </div>
        </div>

        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">{{ 'My Stats'|trans }}</div>
            <div class="card-body">
                <p class="card-text">
                <p>{{ app.user.quotes|length }} {{ 'quotes'|trans }}</p>
                <p>{{ app.user.authors|length }} {{ 'authors'|trans }}</p>
                <p>{{ app.user.originalWorks|length }} {{ 'original works'|trans }}</p>
                <p>{{ app.user.categories|length }} {{ 'categories'|trans }}</p>
                </p>
            </div>
        </div>

    </div>



    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Warning'|trans }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {% trans %}You are about to permanently delete your account and all its data. You won't be able to retrieve it. Do you wish to proceed ?{% endtrans %}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No, cancel'|trans }}</button>
                    <a href="{{ path('qtf_user_delete', {'id': app.user.id}) }}" class="btn btn-outline-danger">{{ 'Yes, delete'|trans }}</a>
                </div>

            </div>
        </div>
    </div>



{% endblock %}