{# templates/Inside/User/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Profile'|trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/user.css') }}" rel="stylesheet"/>
{% endblock %}


{% block quote_body %}


    <div class="row user">

        <div class="col-sm-6 userInfo">
            <h4>{{ 'My Profile'|trans }}</h4>
            <p><span>{{ app.user.email }}</span></p>
            <p>{{ 'First name'|trans }} : <span>{{ app.user.firstname }}</span></p>
            <p>{{ 'Last name'|trans }} : <span>{{ app.user.lastname }}</span></p>

            <a href="{{ path('qtf_user_edit', {'id': app.user.id}) }}" class="btn btn-outline-success">{{ 'Edit'|trans }}</a>
            <a href="{{ path('qtf_password_edit', {'id': app.user.id}) }}" class="btn btn-outline-success">{{ 'Change password'|trans }}</a>
            <p class="deleteAccount"><a href="#" data-toggle="modal" data-target="#deleteModal">{{ 'Delete my account'|trans }}</a></p>
        </div>


        <div class="col-sm-6 userStats">
            <div class="stats">
                <h4>{{ 'My Stats'|trans }}</h4>
                <p>{{ app.user.quotes|length }} {{ 'quotes'|trans }}</p>
                <p>{{ 'by'|trans }} {{ app.user.authors|length }} {{ 'authors'|trans }}</p>
                <p>{{ 'from'|trans }} {{ app.user.originalWorks|length }} {{ 'original works'|trans }}</p>
                <p>{{ 'in'|trans }} {{ app.user.categories|length }} {{ 'categories'|trans }}</p>
            </div>
        </div>

    </div>



    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">{{ 'Warning'|trans }}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {% trans %}You are about to permanently delete your account and all its data. You won't be able to
                    retrieve it. Do you wish to proceed ?{% endtrans %}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No, cancel'|trans }}</button>
                    <a href="{{ path('qtf_user_delete', {'id': app.user.id}) }}" class="btn btn-outline-danger">{{ 'Yes, delete'|trans }}</a>
                </div>

            </div>
        </div>
    </div>



{% endblock %}