{# templates/Inside/User/passwordForm.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Change password'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    <div class="formInside">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}


        {{ form_row(form.oldPassword, { 'label': 'Old password'|trans }) }}

        {{ form_row(form.newPassword.first, { 'label': 'New password'|trans }) }}


        {{ form_label(form.newPassword, 'Re-enter new password'|trans) }}
        {{ form_widget(form.newPassword.second, { 'attr': {} }) }}

        {{ form_end(form) }}

        <p class="mandatory">* {{ 'Mandatory field'|trans }}</p>
    </div>





{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}