{# templates/Inside/User/passwordForm.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - Change password
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    <div class="formInside">
        {{ form_start(form) }}

        {{ form_errors(form.oldPassword) }}
        {{ form_label(form.oldPassword) }}
        {{ form_widget(form.oldPassword, { 'attr': {} }) }}

        {{ form_errors(form.newPassword) }}
        {{ form_label(form.newPassword) }}
        {{ form_widget(form.newPassword.first, { 'attr': {} }) }}


        {{ form_label(form.newPassword, 'Re-enter new password') }}
        {{ form_widget(form.newPassword.second, { 'attr': {} }) }}

        {{ form_end(form) }}
    </div>





{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}