{# templates/Outside/createForm.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Sign-up'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



<div class="login-page">
    <div class="form">
        <div class="formTitle">{{ 'Create account'|trans }}</div>

        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form(form) }}
        <p class="mandatory">* {{ 'Mandatory field'|trans }}</p>

        <p class="message">{{ 'Have an account?'|trans }} <a href="{{ path('qtf_login') }}">{{ 'Sign-in'|trans }}</a></p>

    </div>
</div>







{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}