{# templates/Inside/Author/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Authors'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    <p class="undefined">
        {% if undefined >= 1 %}
        <a href="{{ path('qtf_author_quotes_undefined') }}" class="btn btn-sm btn-outline-primary">
            {% if undefined == 1 %}
                {{ undefined }} {{ 'anonymous quote'|trans }}
            {% elseif undefined > 1 %}
                {{ undefined }} {{ 'anonymous quotes'|trans }}
            {% endif %}
            {% endif %}
        </a>
    </p>


    <div class="addNew">
        <a href="{{ path('qtf_author_create', {'caller' : 'qtf_author_index'}) }}" class="btn btn-outline-success">
            {{ 'Add new author'|trans }}
        </a>
    </div>



    <div class="list">
    <div class="card-columns">
        {% for author in authors %}

            <div class="card text-center">
                <h5 class="card-header">{{ author.displayName }}</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% if author.quotes|length == 0 %}
                        <a href="{{ path('qtf_author_quotes', {'id': author.id}) }}" class="btn btn-info disabled">
                            {{ author.quotes|length }} {{ 'quote'|trans }}
                        </a>
                        {% endif %}

                            {% if author.quotes|length == 1 %}
                        <a href="{{ path('qtf_author_quotes', {'id': author.id}) }}" class="btn btn-info">
                                {{ author.quotes|length }} {{ 'quote'|trans }}
                        </a>
                            {% elseif author.quotes|length > 1 %}
                            <a href="{{ path('qtf_author_quotes', {'id': author.id}) }}" class="btn btn-info">
                                {{ author.quotes|length }} {{ 'quotes'|trans }}
                            </a>
                            {% endif %}
                    </p>
                    <a href="{{ path('qtf_author_edit', {'id': author.id, 'caller' : 'qtf_author_index'}) }}"
                       class="btn btn-sm btn-outline-warning">{{ 'Edit'|trans }}</a>
                    {% if author.quotes|length == 0 %}
                        <a href="#" class="btn btn-sm btn-outline-danger" data-toggle="modal"
                           data-target="#deleteModal-{{ author.id }}">{{ 'Delete'|trans }}</a>
                    {% endif %}

                </div>
            </div>










            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal-{{ author.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'Warning'|trans }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            {% trans %}You are about to permanently delete{% endtrans %} {{ author.displayName }} {% trans %}from the database. You won't be able to retrieve it. Do you wish to proceed?{% endtrans %}
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No, cancel'|trans }}</button>
                            <a href="{{ path('qtf_author_delete', {'id': author.id}) }}" class="btn btn-outline-danger">{{ 'Yes, delete'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    </div>



    <div class="paginator">
        {{ knp_pagination_render(authors) }}
    </div>




{% endblock %}