{# templates/Inside/Author/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Authors'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}


    <div class="addNew">
        <a href="{{ path('qtf_author_create', {'caller' : 'qtf_author_index'}) }}" class="btn btn-outline-success">
            {{ 'Add new author'|trans }}
        </a>
    </div>


{{ include('Inside/Author/_list.html.twig') }}


{% endblock %}