<header>
    <ul id="ul-head">

        <li id="li-head-left" class="menuIcon">
			<span onclick="openNav()">
				<img src="{{ asset('img/menuIcon.png') }}" width="30px" id="addButton"/>
			</span>
        </li>


        <li id="li-head-title" class="headerTitle"><a href="{{ path('qtf_quote_index') }}">{{ website_name }}</a></li>


        <li id="li-head-right" class="li-item">
            <a href="javascript:void(0);" class="icon" onclick="openSubMenu()">{{ app.user.username }} &nbsp;
                &nabla;</a>
            <div id="profileSubMenu">
                <p class="subLink"><a href="{{ path('qtf_user_index') }}">Profile</a></p>
                <p class="subLink"><a href="{{ path('qtf_logout') }}">Logout</a></p>
            </div>
        </li>


    </ul>
</header>