{# templates/Outside/index.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - Welcome
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/welcome.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



<div class="headList">
     <ul>
         <li><a href="{{ path('qtf_welcome_create') }}">Sign-up</a></li>
         <li><a href="{{ path('qtf_login') }}">Sign-in</a></li>
     </ul>
</div>











{% endblock %}