{# templates/Outside/index.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>

    <title>{{ website_name }} - {{ 'Welcome'|trans }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"/>
        <link href="{{ asset('style/welcome.css') }}" rel="stylesheet"/>
        <link href="{{ asset('style/fullpage.css') }}" rel="stylesheet"/>
    {% endblock %}

</head>

<body>

<div class="headList">
    <p class="headListContent">
        <a href="{{ path('qtf_welcome_create') }}" class="item">{{ 'Sign-up'|trans }}</a>
        <a href="{{ path('qtf_login') }}" class="item">{{ 'Sign-in'|trans }}</a>
    </p>
</div>



<div id="fullpage">

    <div class="section">

        <div class="flags">
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                <img src="{{ asset('./img/flags/en.png') }}" alt="English" height="30px" />
            </a>
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                <img src="{{ asset('./img/flags/fr.png') }}" alt="Français" height="30px" />
            </a>
        </div>

        <div class="content">
            <p>{{ 'Quotify'|trans }}</p>
            {% trans %}Your personal notebook for quotes.{% endtrans %}
        </div>
        <div class="icon"><img src="{{ asset('img/pen.png') }}" /></div>
    </div>

    <div class="section">
        <div class="content">
            <p>{{ 'A diary of quotes'|trans }}</p>
            {% trans %}Whether you're reading a book, listening to a song or watching a movie, keep track of all the quotes you
            encounter in your daily life.{% endtrans %}
        </div>
        <div class="icon"><img src="{{ asset('img/diary.png') }}" /></div>
    </div>


    <div class="section">
        <div class="content">
            <p>{{ 'Simple and easy to use'|trans }}</p>
            {% trans %}Sort your quotes by author, by source or by categories.{% endtrans %}
        </div>
        <div class="icon"><img src="{{ asset('img/books.png') }}" /></div>
    </div>

    <div class="section">
        <div class="content">
            <p>{{ 'Available everywhere, everytime'|trans }}</p>
            {% trans %}Consult your quotes or store new ones on your desktop or your mobile.{% endtrans %}
        </div>
        <div class="icon"><img src="{{ asset('img/devices.png') }}" /></div>
    </div>

    <div class="section">
        <div class="content">
            <p>{{ '100% free'|trans }}</p>
            {% trans %}No fee. No add. No credit-card required.{% endtrans %}
        </div>
        <div class="icon"><img src="{{ asset('img/money.png') }}" /></div>
    </div>

    <div class="section">
        <div class="content">
            <p>{{ 'Sign-up now'|trans }}</p>
            <a href="{{ path('qtf_welcome_create') }}" class="btn btn-lg btn-light">{{ 'Sign-up'|trans }}</a>
        </div>
    </div>


    <!-- FOOTER -->

    <div class="section fp-auto-height">
        <div class="content">
            <div class="footer">

                {{ include("_footer.html.twig") }}

            </div>
        </div>
    </div>



</div>






{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/fullpage.js') }}"></script>
    <script type="text/javascript"  src="{{ asset('js/attrchange.js') }}"></script>

    <script type="text/javascript">
        var myFullpage = new fullpage('#fullpage', {
            sectionsColor: ['darkgreen', '#b51d05', '#25a0f7', '#e89f20',
                '#ba0ec9', '#4dd11d', 'rgb(51, 51, 51)']
        });
    </script>

    <script>
        $(document).ready(function(){

            $(".section").eq(0).animate({"opacity":"1"},1500);  //fade the first div.section in on page load

            $(".section").attrchange({
                trackValues: true, // set to true so that the event object is updated with old & new values
                callback: function(evnt) {
                    if(evnt.attributeName == "class") { // which attribute you want to watch for changes
                        if(evnt.newValue.search(/active/i) == -1) { // "active" is the class name you search for inside "class" attribute
                            $(".section.active").animate({"opacity":"1"},1500); //fade in the section with class active
                        }
                    }
                }
            });

        }); //end of document ready
    </script>

{% endblock %}

</body>


</html>





