{# templates/Outside/Reset/reset1.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Reset password'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



    <div class="login-page">
        <div class="form">
            <div class="formTitle">{{ 'Reset password'|trans }}</div>
            <form action="{{ path('qtf_reset_message') }}" method="post">
                <input type="email" name="email" placeholder="{{ 'Enter your email address'|trans }}" />
                <input type="submit" value="{{ 'Send'|trans }}" name="send" />

            </form>


        </div>
    </div>







{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}