{# templates/Outside/Reset/reset1.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Reset password'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



    <div class="login-page">
        <div class="form">
            <div class="formTitle">{{ 'Reset password'|trans }}</div>

            {{ form(form) }}


        </div>
    </div>







{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}