{# templates/Outside/Reset/reset1.html.twig #}

{% extends "Outside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - Reset password
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



    <div class="login-page">
        <div class="form">
            <div class="formTitle">Reset password</div>
            <form action="{{ path('qtf_reset_message') }}" method="post">
                <input type="email" name="email" placeholder="Enter your email adress" />
                <input type="submit" value="Send" name="send" />

            </form>


        </div>
    </div>







{% endblock %}

	{% block javascripts %}
        {{ parent() }}

    {% endblock %}