{# templates/Inside/Work/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - Original works
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}


    <p class="undefined">
        <a href="{{ path('qtf_work_quotes_undefined') }}">
            {% if undefined == 1 %}
                {{ undefined }} undefined quote
            {% elseif undefined > 1 %}
                {{ undefined }} undefined quotes
            {% endif %}
    </p>


    <div class="addNew">
        <a href="{{ path('qtf_work_create', {'caller' : 'qtf_work_index'}) }}" class="btn btn-outline-success">Add new
            original work</a>
    </div>

    <div class="list">
        {% for work in works %}
            <div class="row entry">
                <div class="col-sm-4">
                    <p class="workTitle">
                        {{ work.title }}
                    </p>
                    <p class="byAuthor">
                        {% if work.authors is defined %}
                            {% for author in work.authors %}
                                {% if loop.first %}
                                    By
                                {% endif %}
                                {{ author.displayName }}
                                {% if not loop.last %}
                                    &
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 quoteNumber">
                    {% if work.quotes|length == 0 %}
                        {{ work.quotes|length }} quote
                    {% endif %}

                    <a href="{{ path('qtf_work_quotes', {'id': work.id}) }}">
                        {% if work.quotes|length == 1 %}
                            {{ work.quotes|length }} quote
                        {% elseif work.quotes|length > 1 %}
                            {{ work.quotes|length }} quotes
                        {% endif %}
                    </a>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4 buttons">
                    <a href="{{ path('qtf_work_edit', {'id': work.id, 'caller' : 'qtf_author_index'}) }}"
                       class="btn btn-outline-warning buttonSize">Edit</a>
                    {% if work.quotes|length == 0 %}
                        <a href="#" class="btn btn-outline-danger buttonSize" data-toggle="modal"
                           data-target="#deleteModal-{{ work.id }}">Delete</a>
                    {% endif %}
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal-{{ work.id }}">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Warning</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            You are about to permanently delete {{ work.title }} from the database. You won't be able to
                            retrieve it. Do you wish to proceed ?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
                            <a href="{{ path('qtf_work_delete', {'id': work.id}) }}" class="btn btn-outline-danger">Yes,
                                Delete</a>
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


    <div class="paginator">
        {{ knp_pagination_render(works) }}
    </div>





{% endblock %}