{# templates/Inside/Work/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
	{{ parent() }} - Original works
{% endblock %}


{% block quote_body %}


	<table class="table table-hover">
		{% for work in works %}
			<tr>
				<td>{{ work.title }}</td>
				<td>
					{% if work.quotes|length == 0 %}
						{{ work.quotes|length }} quote
					{% endif %}

					<a href="{{ path('qtf_work_quotes', {'id': work.id}) }}">
						{% if work.quotes|length == 1 %}
							{{ work.quotes|length }} quote
						{% elseif work.quotes|length > 1 %}
							{{ work.quotes|length }} quotes
						{% endif %}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>



	
{% endblock %}