{# templates/Inside/Search/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Search results for'|trans }} "{{ keywords }}"
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/quote.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/search.css') }}" rel="stylesheet"/>
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    <div class="card">

        <div class=" card-header quoteListTitle">{{ 'Search results for'|trans }} "{{ keywords }}"</div>



        {# TABS #}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{{ path('qtf_search_index', {'keywords': keywords, 'requestedTab': 'quoteTab'}) }}" class="nav-link
                {% if counts.quotes == 0 %} disabled{% endif %}
                {% if tab is same as ('quoteTab') %} active{% endif %}
                 ">

                    {% if counts.quotes > 1 %}
                        {{ counts.quotes }} {{ 'quotes'|trans }}
                    {% elseif counts.quotes == 1 %}
                        {{ counts.quotes }} {{ 'quote'|trans }}
                    {% else %}
                        {{ counts.quotes }} {{ 'quote'|trans }}
                    {% endif %}

                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('qtf_search_index', {'keywords': keywords, 'requestedTab': 'categoryTab'}) }}" class="nav-link
                       {% if counts.categories == 0 %} disabled{% endif %}
                    {% if tab is same as ('categoryTab') %} active{% endif %}
                ">

                    {% if counts.categories > 1 %}
                        {{ counts.categories }} {{ 'categories'|trans }}
                    {% elseif counts.categories == 1 %}
                        {{ counts.categories }} {{ 'category'|trans }}
                    {% else %}
                        {{ counts.categories }} {{ 'category'|trans }}
                    {% endif %}

                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('qtf_search_index', {'keywords': keywords, 'requestedTab': 'authorTab'}) }}" class="nav-link
                        {% if counts.authors == 0 %}  disabled{% endif %}
                    {% if tab is same as ('authorTab') %} active{% endif %}
                ">

                    {% if counts.authors > 1 %}
                        {{ counts.authors }} {{ 'authors'|trans }}
                    {% elseif counts.authors == 1 %}
                        {{ counts.authors }} {{ 'author'|trans }}
                    {% else %}
                        {{ counts.authors }} {{ 'author'|trans }}
                    {% endif %}

                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('qtf_search_index', {'keywords': keywords, 'requestedTab': 'workTab'}) }}" class="nav-link
                    {% if counts.works == 0 %} disabled{% endif %}
                    {% if tab is same as ('workTab') %} active{% endif %}
                ">

                    {% if counts.works > 1 %}
                        {{ counts.works }} {{ 'sources'|trans }}
                    {% elseif counts.works == 1 %}
                        {{ counts.works }} {{ 'source'|trans }}
                    {% else %}
                        {{ counts.works }} {{ 'source'|trans }}
                    {% endif %}

                </a>
            </li>
        </ul>

{#        This is just for setting a blank space between the tabs and the content#}
        <div style="margin-top:4%"></div>

        {# DISPLAY THE CORRECT LIST DEPENDING ON THE TAB SELECTED #}

        {% if tab is same as ('quoteTab') %}
            {% set quotes = results.quotes %}
            {{ include('Inside/Quote/_list.html.twig') }}
        {% elseif tab is same as ('categoryTab') %}
            {% set categories = results.categories %}
            {{ include('Inside/Category/_list.html.twig') }}
        {% elseif tab is same as ('authorTab') %}
            {% set authors = results.authors %}
            {{ include('Inside/Author/_list.html.twig') }}
        {% elseif tab is same as ('workTab') %}
            {% set works = results.works %}
            {{ include('Inside/Work/_list.html.twig') }}
        {% elseif tab is same as ('void') %}
            <br />
            <p class="quoteListTitle">{{ 'No result'|trans }}</p>
        {% endif %}



    </div>


{% endblock %}