{# templates/Inside/Quote/form.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Quote'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}



    <div class="formSize">
        <div class="card">
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

            <div class="card-header formTitle">
                {{ 'Add new quote'|trans }}
            </div>

            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.author, {'label': 'By'}) }}
                <div class="addFieldData"><a href="{{ path('qtf_author_create', {'caller' : 'qtf_quote_create'}) }}" class="btn btn-sm btn-outline-primary">{{ 'Add new author'|trans }}</a></div>
                {{ form_row(form.originalWork, {'label': 'In'}) }}
                <div class="addFieldData"><a href="{{ path('qtf_work_create', {'caller' : 'qtf_quote_create'}) }}" class="btn btn-sm btn-outline-primary">{{ 'Add new original work'|trans }}</a></div>
                {{ form_row(form.categories, {'label': 'Categories'}) }}
                <div class="addFieldData"><a href="{{ path('qtf_category_create', {'caller' : 'qtf_quote_create'}) }}" class="btn btn-sm btn-outline-primary">{{ 'Add new category'|trans }}</a></div>
                <br/>
                {{ form_row(form.text, {'label': 'Text'}) }}
                {{ form_row(form.notes, {'label': 'Notes'}) }}
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2">{{ form_row(form.save) }}</div>
                    <div class="col-5"></div>
                </div>
                <p class="mandatory">* {{ 'Mandatory field'|trans }}</p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

	{% block javascripts %}
        {{ parent() }}

        <script>
            var $author = $('#quote_author');
            $author.change(function () {
                var $form = $(this).closest('form');
                var data = {};
                data[$author.attr('name')] = $author.val();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        $('#quote_originalWork').replaceWith(
                            $(html).find('#quote_originalWork')
                        );
                    }
                });
            });
        </script>
    {% endblock %}