{# templates/Inside/Quote/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Quotes'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/quote.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    {% if quotes is empty %}
        <p class="quoteListTitle">{{ 'No result'|trans }}</p>
    {% else %}

        {% if displayTitle is defined %}
            <p class="quoteListTitle">{{ displayTitle }}</p>
        {% endif %}



        {{ include('Inside/Quote/_list.html.twig') }}


    {% endif %}





{% endblock %}