<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="{{ 'Quotify is a way to securely store all the quotes you encounter in your daily life.'|trans }}">

    <meta property="og:title" content="Quotify" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://quotify.weflowandflow.com" />
    <meta property="og:image" content="{{ asset('img/quotify_logo.png') }}" />

    <title>{% block title %}{{ website_name }}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{ asset('img/quotify_icon.png') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"/>
        <link href="{{ asset('style/base.css') }}" rel="stylesheet"/>
        <link href="{{ asset('style/pagination.css') }}" rel="stylesheet"/>
{#        {{ encore_entry_link_tags('app') }}#}
{#        {{ encore_entry_link_tags('base') }}#}
{#        {{ encore_entry_link_tags('form') }}#}
{#        {{ encore_entry_link_tags('fullpage') }}#}
{#        {{ encore_entry_link_tags('header') }}#}
{#        {{ encore_entry_link_tags('inside') }}#}
{#        {{ encore_entry_link_tags('lists') }}#}
{#        {{ encore_entry_link_tags('outside') }}#}
{#        {{ encore_entry_link_tags('pagination') }}#}
{#        {{ encore_entry_link_tags('quote') }}#}
{#        {{ encore_entry_link_tags('search') }}#}
{#        {{ encore_entry_link_tags('timeline') }}#}
{#        {{ encore_entry_link_tags('user') }}#}
{#        {{ encore_entry_link_tags('welcome') }}#}
    {% endblock %}

</head>

<body>


<div class="wrapper">
    {% block body %}{% endblock %}
</div>


<!-- FOOTER -->
<footer>
    <div class="footerContent">
        <div class="upButton">
            <a href="#">⇧</a>
        </div>
        {{ include("_footer.html.twig") }}
    </div>
</footer>


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{#    {{ encore_entry_script_tags('app') }}#}
{#    {{ encore_entry_script_tags('attrchange') }}#}
{#    {{ encore_entry_script_tags('fullpageJS') }}#}
    <noscript>{% trans %}Warning : Your browser does not support JavaScript, or JavaScript has been deactivated. Activate JavaScript for a better browsing experience.{% endtrans %}</noscript>
{% endblock %}
</body>


</html>
