<!DOCTYPE html>
<html>
<body>

<style>
    table {
        border-collapse: collapse;
        width: 95%;
        margin: auto;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

</style>

<table>
    <tr>
        <td>Date</td>
        <td>{{ 'now'|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Object</td>
        <td>{{ object }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>{{ message }}</td>
    </tr>
</table>


</body>
</html>