<html>
<body>
{{ 'Hello'|trans }} {{ user.firstname }} {{ user.lastname }},
<br><br>
{% trans %}You are receiving this email because you lost your password. Please click the link below to enter a new password.{% endtrans %}
<br><br>
<a href="{{ absolute_url(path('qtf_reset_password', {'id' : user.id, 'email' : user.email} )) }}">{{ 'CHANGE PASSWORD'|trans }}</a>
<br><br>
{{ 'The Quotify Team'|trans }}

</body>
</html>