{# templates/Inside/Category/form.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Category'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}

    <div class="formSize">
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

        <p class="formTitle">{{ 'Add new category'|trans }}</p>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2"><a href="{{ path(previousPage) }}" class="btn btn-outline-secondary">{{ 'Cancel'|trans }}</a></div>
        <div class="col-1"></div>
        <div class="col-2">{{ form_row(form.save) }}</div>
        <div class="col-5"></div>
    </div>
    {{ form_end(form) }}
    </div>




{% endblock %}

	{% block javascripts %}
        {{ parent() }}

        <script>
            var $author = $('#quote_author');
            $author.change(function () {
                var $form = $(this).closest('form');
                var data = {};
                data[$author.attr('name')] = $author.val();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        $('#quote_originalWork').replaceWith(
                            $(html).find('#quote_originalWork')
                        );
                    }
                });
            });
        </script>
    {% endblock %}