{# templates/Inside/Category/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Categories'|trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}


{% block quote_body %}


    <p class="undefined">

    </p>


    <div class="addNew">
        <a href="{{ path('qtf_category_create', {'caller' : 'qtf_category_index'}) }}" class="btn btn-outline-success">{{ 'Add new category'|trans }}</a>
    </div>


    <div class="list">
        <div class="card-columns">


            {% if undefined >= 1 %}
                <div class="card text-center">
                    <h5 class="card-header">{{ 'Uncategorized quotes'|trans }}</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{ path('qtf_category_quotes_undefined') }}" class="btn btn btn-info">
                                {% if undefined == 1 %}
                                    {{ undefined }} {{ 'quote'|trans }}
                                {% elseif undefined > 1 %}
                                    {{ undefined }} {{ 'quotes'|trans }}
                                {% endif %}
                            </a>
                            </a>
                        </p>
                        <a href="#" class="btn btn-sm btn-info hidden" >disabled</a>
                    </div>
                </div>
            {% endif %}


            {% for category in categories %}

                <div class="card text-center">
                    <h5 class="card-header">{{ category.name }}</h5>
                    <div class="card-body">
                        <p class="card-text">

                            {% if category.quotes|length == 0 %}
                                <a href="{{ path('qtf_category_quotes', {'id': category.id}) }}" class="btn btn-info disabled">
                                    {{ category.quotes|length }} {{ 'quote'|trans }}
                                </a>
                            {% endif %}

                            {% if category.quotes|length == 1 %}
                                <a href="{{ path('qtf_category_quotes', {'id': category.id}) }}" class="btn btn-info">
                                    {{ category.quotes|length }} {{ 'quote'|trans }}
                                </a>
                            {% elseif category.quotes|length > 1 %}
                                <a href="{{ path('qtf_category_quotes', {'id': category.id}) }}" class="btn btn-info">
                                    {{ category.quotes|length }} {{ 'quotes'|trans }}
                                </a>
                            {% endif %}
                            </a>
                        </p>
                        <a href="{{ path('qtf_category_edit', {'id' : category.id, 'caller' : 'qtf_category_index'}) }}"
                           class="btn btn-outline-warning btn-sm">{{ 'Edit'|trans }}</a>
                        {% if category.quotes|length == 0 %}
                            <a href="#" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                               data-target="#deleteModal-{{ category.id }}">{{ 'Delete'|trans }}</a>
                        {% endif %}

                    </div>
                </div>


                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal-{{ category.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">{{ 'Warning'|trans }}</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                {% trans %}You are about to permanently delete the{% endtrans %} {{ category.name }} {% trans %}category. You won't be able to retrieve it. Do you wish to proceed ?{% endtrans %}
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No, cancel'|trans }}</button>
                                <a href="{{ path('qtf_category_delete', {'id' : category.id}) }}"
                                   class="btn btn-outline-danger">{{ 'Yes, delete'|trans }}</a>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


    <div class="paginator">
        {{ knp_pagination_render(categories) }}
    </div>





{% endblock %}