{# templates/Inside/Category/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Categories'|trans }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/lists.css') }}" rel="stylesheet"/>
{% endblock %}


{% block quote_body %}




    <div class="addNew">
        <a href="{{ path('qtf_category_create', {'caller' : 'qtf_category_index'}) }}" class="btn btn-outline-success">{{ 'Add new category'|trans }}</a>
    </div>


    {{ include('Inside/Category/_list.html.twig') }}



{% endblock %}