{# templates/Inside/Date/index.html.twig #}

{% extends "Inside/layout.html.twig" %}

{% block title %}
    {{ parent() }} - {{ 'Dates'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('style/timeline.css') }}" rel="stylesheet"/>
{% endblock %}

{% block quote_body %}


    <div class="timeline">
        {% for date in dates %}
            {% for d in date %}
                <div class="timelineElement">
                    {% if d is not empty %}
                        <a href="{{ path('qtf_work_year', {'year': d}) }}">
                            <span class="year">{{ d }}</span>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if dates is empty %}
                {{ "No dated quote available."|trans }}
            {% endif %}
        {% else %}
            {{ "No dated quote available."|trans }}
        {% endfor %}


    </div>




{% endblock %}